@model IList<Enrolliks.Person>

<p><a asp-action="Create">Create new...</a></p>

<tabele>
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
            <tr>
                <td>@person.Name</td>
                <td>
                    <form asp-action="Delete">
                        <input type="hidden" name="@nameof(person.Name)" value="@person.Name" />
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</tabele>