body {
    margin: 0px;
    padding: 0px;

    background-color: rgb(246, 248, 250);

    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 0px;
    padding: 12px 24px;

    color: white;
    background-color: rgb(36, 41, 47);

    font-family: Arial, Helvetica, sans-serif;
}

nav.top-nav {
    margin: 0px;
    padding: 0px;

    color: whitesmoke;
    background-color: rgb(36, 41, 47);
}

nav.top-nav > a {
    display: inline-block;

    margin: 0px;
    padding: 6px 24px;

    color: inherit;
    background-color: transparent;

    font-size: large;
    text-decoration: none;
}

nav.top-nav > a:hover {
    background-color: rgb(65, 74, 85);
}

.content-area {
    margin: 0px;
    padding: 6px 24px;
}

table {
    table-layout: auto;
    width: 100%;

    margin: 0px;

    border-collapse: collapse;
}

th, td {
    padding: 6px;
    text-align: left;
}

td {
    border: 1px solid rgb(142, 184, 199);
}

button {
    margin: 4px;
    padding: 6px;

    background-color: rgb(169, 219, 236);

    border: 1px solid rgb(142, 184, 199);
    border-radius: 6px;
}

button:hover {
    background-color: rgb(182, 236, 255);
}

.panel {
    margin: 6px;
    padding: 6px;

    background-color: rgb(233, 234, 236);
    border: 1px solid rgb(142, 184, 199);
    border-radius: 6px;
}

.form-row {
    margin: 12px 0px;
}

.form-label {
    margin: 0px 6px;
}

.form-input {
    margin: 0px 6px;
    padding: 6px;
    border: 1px solid rgb(142, 184, 199);
    border-radius: 6px;
}