@using Enrolliks.Web.Controllers
@model PageModel
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>Enrolliks</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <script src="/scripts/vendors.js"></script>
    <script src="/scripts/app.js"></script>
</head>
<body>
    <script>
        var data = @Json.Serialize(Model.Data);
    </script>
    <script src="/scripts/@(Model.Route).js"></script>
</body>
</html>