<!DOCTYPE HTML>
<html>
    <head>
        <title>Enrolliks</title>
        <link rel="stylesheet" href="/styles/main.css" />
    </head>
    <body>
        <h1>Enrolliks</h1>
        <nav>
            <a asp-controller="Home">Home</a>
            <a asp-controller="People">People</a>
        </nav>
        @RenderBody()
    </body>
</html>