body {
    margin: 0px;
    padding: 0px;

    background-color: rgb(246, 248, 250);

    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 0px;
    padding: 12px 24px;

    color: white;
    background-color: rgb(36, 41, 47);

    font-family: Arial, Helvetica, sans-serif;
}

nav.top-nav {
    margin: 0px;
    padding: 0px;

    color: whitesmoke;
    background-color: rgb(36, 41, 47);
}

nav.top-nav > a {
    display: inline-block;

    margin: 0px;
    padding: 6px 24px;

    color: inherit;
    background-color: transparent;

    font-size: large;
    text-decoration: none;
}

nav.top-nav > a:hover {
    background-color: rgb(65, 74, 85);
}

.content-area {
    margin: 0px;
    padding: 6px 24px;
}

table {
    table-layout: auto;
    width: 100%;

    margin: 0px;

    border-collapse: collapse;
}

th, td {
    padding: 6px;
    text-align: left;
}

td {
    border: 1px solid rgb(142, 184, 199);
}

button {
    margin: 4px;
    padding: 6px;

    background-color: rgb(169, 219, 236);

    border: 1px solid rgb(142, 184, 199);
    border-radius: 6px;
}

button:hover {
    background-color: rgb(182, 236, 255);
}

button:disabled {
    background-color: #b6ecff;
}

.panel {
    margin: 6px;
    padding: 6px;

    background-color: rgb(233, 234, 236);
    border: 1px solid rgb(142, 184, 199);
    border-radius: 6px;
}

.form-row {
    display: grid;
    margin: 12px 0px;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content max-content;
    column-gap: 12px;
    row-gap: 2px;
    align-items: center;
    justify-items: start;
}

.form-label {
    grid-row: 1;
    grid-column: 1;
    margin: 0px;
}

.form-input {
    grid-row: 1;
    grid-column: 2;
    margin: 0px;
    padding: 6px;
    border: 1px solid rgb(142, 184, 199);
    border-radius: 6px;
}

.form-error {
    grid-row: 2;
    grid-column: 2;
    margin: 0px;
    padding: 0px;
    color: red;
    font-size: 80%;
}

.form-error.hidden {
    display: none;
}

button.remove-button {
    margin: 0px 6px;
    padding: 0px;
    background: none;
    border: none;
}

button.remove-button > img {
    height: 1.5em;
    /* Other values of vertical-align leave extra space under the image.
       I suspect this is the distance between the baseline and the bottom edge of the button. */
    vertical-align: bottom;
}

.inline-loader {
    display: inline-block;
    border: 4px solid #f3f3f3;
    border-top-color: #3498db;
    border-radius: 50%;
    width: 1ex;
    height: 1ex;
    vertical-align: baseline;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}